.add-device-form{
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-title{
    font-weight: 900;
    font-size: 1.5rem;
    color: #EB4C36;
}

.action-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 0.5rem;
}

select{
    outline: none;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 1rem;
}


