.header-wrapper{
    padding: 2rem 2rem;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.header-logo{
    font-weight: 900;
    font-size: 32px;
    color: #EB4C36;
}

.add-devices{
    color:#EB4C36;
    border: 1px solid #EB4C36;
    border-radius: 1rem;
    padding: 0.4rem;
    margin-left: 1rem;
    background-color: white;
    font-weight: 900;
    cursor: pointer;
}
.add-devices:hover{
    color: white;
    background-color: #EB4C36;
}
.organisation-name{}