.room-wrapper{
    border: 1px solid #e6e6e6;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #F4F4F4;
}
.room-name{
    text-transform: uppercase;
    border-bottom: 1px solid #e6e6e6;
}
.vessel-name{
    font-weight: 200;
    font-size: small;
    color: chocolate;
}
