.welcome-box-wrapper{
    display: flex;
    flex-direction: row;
    gap: 2rem;;
    margin: 2rem;
    padding: 2rem;
}
.welcome-box{
    flex: 0.65;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid #e6e6e6;
    background-color:  #F4F4F4;
}

.create-room-button{
    margin-top: 2rem;
    background-color: white;
    border: 1px solid #e6e6e6;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    color:  #EB4C36;
    text-transform: uppercase;
    font-weight: 600;
} 

.create-room-button:hover{
    color: white;
    background-color: #EB4C36;
}

.create-room-box{
    border: 1px solid #e6e6e6;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 50%;
    background-color: white;
}
input{
    border: none;
    outline: none;
    background-color: transparent;
}
.rooms{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:1rem
}