.welcome-box-wrapper{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.welcome-box{ 
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid #e6e6e6;
    background-color:  #F4F4F4;
    margin-left: 4rem;
    min-width: 40%;
    min-height: 10rem;
  
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
}
.create-room-box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.create-room-wrapper{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
}

.create-room-button{
    margin-top: 2rem;
    background-color: white;
    border: 1px solid #e6e6e6;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    color:  #EB4C36;
    text-transform: uppercase;
    font-weight: 600;
} 

.create-room-button:hover{
    color: white;
    background-color: #EB4C36;
}
.rooms-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    gap:1rem
}
.no-data-wrapper{
    padding:1rem;
    border: 1px solid #e6e6e6;
    background-color:#F4F4F4;
    border-radius: 1rem;
}