@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Noto+Sans:ital,wght@0,200;0,300;0,500;0,900;1,200;1,300;1,500;1,900&family=Rubik:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

@import 'react-tooltip/dist/react-tooltip.css';

body {
  font-family: 'Inter', sans-serif;
}
.app{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.devices-rooms-wrapper{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.room-details{
  flex: 0.5;
}